*{ 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  background: #f1ead4;
}



a{
  text-decoration: none;
}



header{
  
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
}

.container{
  z-index: 6;
  /*border-radius: 8px 8px 0px 0px;*/
  padding-right: 32px;
  padding-left: 32px;
  background-image: url(img/background.svg);
  background-size: auto 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%; 
  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.04));
}

.logo{
  font-family: 'Grand Hotel', cursive;
  color: #7569DE;
  font-size: 22px;
}

.menu ul{
  display: flex;
  gap: .5rem;
  justify-content: space-between;
}

.menu li{
  list-style: none;
  text-align: center;
  font-family: 'Museo Sans Rounded 700';
  font-style: normal;
  font-size: 16px;
  color: #000;
  opacity: 0.60;
  line-height: 19px;
  cursor: pointer;
}

.menu li a{
  color: #000;
  opacity: 0.60;
  display: block;
  padding: 12px;
}

.menu li a:hover{
  color: rgb(254, 104, 69);
  opacity: 1.0;
}

.login{
  display: flex;
  align-items: center;
}

.login button{
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: .9rem;
  height: 45px;
  background: none;
  color: #000;
  border: none;
  cursor: pointer;
  opacity: 0.40;
  font-family: 'Museo Sans Rounded 900';
  font-size: 28px;
}

.login button p{
  font-size: 15px;
  display: inline-flex;
}

.login button:hover{
  color: #7569DE;
  opacity: 0.60;
}


.destaque{
  z-index: 1;
  justify-content: center;
  display: flex;
  width: 100%;
  margin-bottom: 45px;
  
}

.destaqueContainer{
  padding-right: 32px;
  padding-left: 64px;
  margin-top: 32px;
  border-radius: 20px;
  background-image: url(img/frutas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 80%;
  min-height: 532px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border: none;

}

.destaquetxt{
  width: 48%;
}

.destaquetxt h1{
  font-family: 'Museo Sans Rounded 900';
  color: white;
  font-size: 52px;
  line-height: 54px;
  padding-bottom: 16px;
}

.destaquetxt p{
  font-family: 'Museo Sans Rounded 300';
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 27px;
}

.destaquetxt button{
  margin-right: 5%;
  width: 212px;
  height: 52px;
  background: linear-gradient(262.86deg, #7569DE -4.93%, rgba(42, 23, 201, 0.87) 209.12%);
  border-radius: 50px;
  border-style: none;
  color: white;
  cursor: pointer;
  font-family: 'Museo Sans Rounded 700';
  font-size: 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.destaquetxt a{
  text-decoration: none;
  font-family: 'Museo Sans Rounded 700';
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}

.destaquetxt a:hover{
  text-decoration: none;
  font-family: 'Museo Sans Rounded 700';
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.barraca_virtual{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

.barracaContainer{
  display: flex;
  flex-wrap: wrap;
  background:#FFFFF0;
  border-radius: 12px;
  align-items: center;
  padding: 2%;
  width: 80%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.titulo_buscador{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.h2barraca{
  font-family: 'Museo Sans Rounded 1000';
  color: rgb(165, 206, 85);
  font-size: 28px;
}

.buscador{
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 15px;
  min-height: 45px;
  background: #EBEBEB;
}

.buscador input{
  font-family: 'Museo Sans Rounded 700';
  font-size: 15px;
  opacity: 0.32;
  resize: none;
  background: none;
  min-height: 100%;
  border: none;
  padding-left: 5px;
  outline: none;
}


.buscador button{
  min-width: 45px;
  font-size: 15px;
  opacity: 0.30;
  height: 100%;
  border: none;
  cursor: pointer;
}

.filtros{
  margin-top: 4px;
  min-height: 45px;
  width: 100%;
  gap: 2rem;
  display: flex;
  align-items: center;
}

.filtros nav{
  gap: 2rem;
  display: flex;
  width: 100%;
}
.filtros i{
  align-items: center;
  opacity: 0.32;
  font-size: 15px;
  display: inline-flex;
}

.filtros ul{
  gap: 1rem;
  display: flex;
  list-style: none;
}

.filtros li{
  background: #000;
  color: #fff;
  cursor: pointer;
  font-family: 'Museo Sans Rounded 300';
  font-size: 15px;
  opacity: 0.2;
  display: block;
  border-radius: 12px;
  padding: 0px 12px 0px 12px;
}

.produtos{
  width: 100%;
  display: grid;
  margin-top: 20px;
  column-gap:0.5rem;
  row-gap: 1.75rem;
  grid-auto-columns: 143px;
  grid-template-columns: repeat(auto-fit, minmax(143px, auto));
  justify-content: space-around;
}

.item{
  display: grid;
  text-align: center;
  grid-template-columns: 143px;
  grid-template-rows: 143px 1fr;
  row-gap: 0.938rem;
}

.item .img{
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transition-property: box-shadow, width,height, margin-top, margin-bottom;
  transition-timing-function: linear;
  transition-duration: 0.30s;
}

.item .img img{
  height: 100%;
}

.img:hover{
  margin-top: -10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


.preco{
  gap: 0.5rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.preco h3{
  font-family: 'Museo Sans Rounded 1000';
  font-size: 15px;
  opacity: 0.82;
}

.preco h4{
  font-family: 'Museo Sans Rounded 300';
  font-size: 15px;
  opacity: 0.82;
}


@media (max-width: 1000px){
  .menu{
    display: none;
  }
  
  .destaquetxt{
    width: 100%;
  }

  .login button p{
    font-size: 15px;
    display: none;
  }
}
