@font-face {
    font-family: 'Museo Sans Rounded 500';
    src: url('MuseoSansRounded-500.woff2') format('woff2'),
        url('MuseoSansRounded-500.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Rounded 100';
    src: url('MuseoSansRounded-100.woff2') format('woff2'),
        url('MuseoSansRounded-100.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Rounded 300';
    src: url('MuseoSansRounded-300.woff2') format('woff2'),
        url('MuseoSansRounded-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Rounded 700';
    src: url('MuseoSansRounded-700.woff2') format('woff2'),
        url('MuseoSansRounded-700.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Rounded 1000';
    src: url('MuseoSansRounded-1000.woff2') format('woff2'),
        url('MuseoSansRounded-1000.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Rounded 900';
    src: url('MuseoSansRounded-900.woff2') format('woff2'),
        url('MuseoSansRounded-900.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

